@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --blue: #2088D9;
  --transparentBackground: rgba(32, 136, 217, 0.25);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


